.form-input {
  width: 100%;
  margin: 30px;
  position: relative;
}
input {
  border: 2px solid #eee;
  line-height: 30px;
  outline: 0;
}
/* .icon {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

/* .message.self img {
  display: block;
}  */

/* .message.other {
  display: flex;
  justify-content: flex-start;
  border-radius: 0px ,12px,12px,12px;
  gap: 16px;
 padding: 8px;

} */

.user-container {
  position: relative;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(8, 140, 8);
  color: #fff;
  text-align: center;

  padding: 5px 0;

  width: 150px;
  bottom: 200%;
  left: -25%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -9px;
  border-width: 8px;
  border-style: solid;
  border-color: green transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* .other-section{
  border-radius: 0px, 12px,12px,12px;
  padding: 8px;
  gap: 16px;
  background-color: #FFFFFF;
  box-shadow: #000000;
  line-height: 17.57px;
  size: 14px;
  font-weight: 400;
  font: Mulish;
} */

.message.self {
  font-family: Mulish;

  background-color: #1c63d5;
  color: #ffffff;
  padding: 8px;
  gap: 16px;
  border-radius: 12px 12px 0px 12px;
  margin-left: 68px;
  margin-right: 20px;
}
.message.self .chat-section {
  font-weight: 400;
  size: 14px;
  color: #ffffff;
 
}
.message.self .chat-section p {
  color: #ffffff;
}
.message.other {
  font-family: Mulish;

  background-color: #FFFFFF;
  color: #000000;
  padding: 8px;
  gap: 16px;
  border-radius: 0px 12px 12px 12px;
  margin-left: 29px;
  margin-right: 40px;
  margin-top: -20px;
}

.message.other .chat-section {
  font-weight: 400;
  size: 14px;
  /* line-height: 17.57; */
  color: #606060;
}
.heading{
  color: #606060;

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.heading span{
  color: #141E0D;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

